.home-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-note-edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: rgb(250, 250, 250);
}

#input-title{
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 22px;
}

#input-title:focus{
    outline: 2px solid rgb(0, 134, 139);
    border: 0;
}

#textarea-note{
    margin-top: 20px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
}

#textarea-note:focus{
    outline: 2px solid rgb(0, 134, 139);
    border: 0;
}

.app-main-note-preview{
    width: 100%;
    height: 100%;

}

.preview-title{
    margin: 20px;
}

.markdown-preview{
    margin-left: 25px;
}