.home-sidebar{
    width: 500px; 

}

.home-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-sidebar-header h1{
    margin: 20px;
}

.home-sidebar-header button{
    margin-right: 20px;
    border: 0;
    background: none;
    color: rgb(8, 153, 153);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.home-sidebar-header button:hover{
    color: #000;
}

.home-sidebar-note{
    padding: 20px;
}

.home-sidebar-note p{
    margin-top: 10px;
}

.home-sidebar-note small{
    color: #999999;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.active{
    color: #fff;
    background-color: rgb(65, 139, 139);
}

.active small{
    color: #fff;
}

.home-sidebar-note:hover{
    background-color: rgb(226, 224, 224);
    cursor: pointer;
    color: #000;
}

.sidebar-single{
    display: flex;
    justify-content: space-between;
}

.sidebar-single button {
    border: 0;
    background: none;
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-single button:hover{
    color: #000;
}